html, body {
  height: 100%;
  font-size: 12pt;
}

h1 {
  font-weight: bold;
}

h2 {
  margin: 0;
  font-style: italic;
}

header {
  margin-top: 20px;
  text-align: center;
}

label {
  display: block;
  font-weight: normal;
}

form {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

select {
  width: 175px;
  height: 28px;
}

input[type=submit] {
  margin: 20px 0;
  color: white;
  background-color: #2bb3bb;
  border: 0;
  padding: 5px 20px;
  border-radius: 5px;
}

input[type=submit]:hover {
  background-color: #27A4AB;
}

input[type=submit]:disabled {
  opacity: 0.5;
}

.question {
  margin-top: 30px;
}

.question .part {
  margin-top: 10px;
}

td {
  padding: 0 10px;
}

td.scrabble-score {
  text-align: right;
  border-right: solid 1px black;
}