<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name=viewport content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1'>
    <link href="/Content/site.css" rel="stylesheet">
    <link rel="shortcut icon" href="/Images/favicon.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="/Scripts/dataFuncs.js"></script>
    <script src="/Scripts/core.js"></script>
    <title>Additional Funds Challenges</title>
</head>

<body>
    <header>
        <img src="/Images/logo-horiz.png" class="logo" />
        <h1>Scott Logic Hackathon</h1>
        <h2>Additional Funds Challenges</h2>
    </header>
    @RenderBody()
</body>
</html>
